<h2>Featured games for: <%= @date %> </h2>
<br/>
<br/>

<% @game.each do |g| %>
	<div class = "well">
		<%= g.team.name %> vs. <%= Team.find(g.opponent_id).name %><br />
		<%= g.score %> - <%= g.opponent_score %><br />
	</div>
<% end %>