



<section class='container siny-games'>
    <div class='row'>		
		<% @game.first(9).each do |g| %>
			<div class='col-sm-4 siny-game'>
				<div class="siny-team-links">
				<%= link_to g.team.name, controller: "team", action: "show", id: g.team.id %> <%= g.score %><br>
					<%= g.opponent_name %> <%= g.opponent_score %><br/>
				</div>
				<%= link_to g.summary.truncate(35), controller: "games", action: "show", id: g.id %><br/>
				
				<%= g.date %><br/>
			</div>
		<% end %>
		
		</div>
		</section>
		

