<section class='container siny-games'>
<div class="siny-detail">
<div class="siny-score">

<%= link_to @game_stats.team.name, "/team/show/#{@game_stats.team.id}" %>

<%	if @game_stats.is_home == true %>
	<%= "(h):" %>
<%	else %>
	<%=	"(a):" %>
<% end %> 
<%= @game_stats.score %><br> 

<%= @game_stats.opponent_name %>: <%= @game_stats.opponent_score %><br>
</div>

<table class="table table-striped" id="siny-boxscore">
	<tr>
	<th>Team</th>
  <% @game_stats.boxscore.each do |name, number| -%>
  <th><%= name %></th>
    <% end -%>
  </tr>
  <tr>
	  <td><%= @game_stats.team.name %></td>
    <% @game_stats.boxscore.each do |name, number| -%>
  <td><%= number %></td>
  <% end -%>
</tr>
<td><%= @game_stats.opponent_name %></td>
  <% @game_stats.opponent_boxscore.each do |name, number| -%>
  <td><%= number %></td>
    <% end -%>
  </tr>
</table>



<br>
    <div class='row'>		
			<div class='col-sm-8'>
<video class="siny-video" width="100%" controls>
<source src="<%= @game_stats.video_url %>" type="video/mp4">
	</video>
	
	<div class="siny-summary"><%= @game_stats.summary %>
	
	</div>
</div>
</div>


	
	

	</div>
		</section>