<%= image_tag(@team.school.logo_url, :alt => @team.name) %><br />
<%= @team.name %><br />
<%= @team.school.name %><br />
<%= @team.school.city + ', ' + @team.school.state %><br />
<br />
<table>
<tr><td>Score</td>
<td>Opponent</td>
<td>Opponent Score</td>
<td>Date</td>
<td>Video Link</td>
</tr>
<% @team.games.each do |g| %>
<tr text-align: 'center'>
	<td><%= g.score %></td>
	<td><%= Team.find(g.opponent_id).name %></td>
	<td><%= g.opponent_score %></td>
	<td><%= g.date %></td>
	<td><%= video_tag( g.video_url, :controls => true) %> </td>
</tr>
<% end %>

</table>