<section class='container siny-games' id="siny-results">
	    <div class='row'>		
				<div class='col-sm-1'>

					<%=image_tag(@school.logo_url, size: "75")%>
				</div>
				<div class='col-sm-11'>
					<h2><%=@school.name%><h2> <h3><%=@school.city%>, <%=@school.state%></h3>
				</div></div>
			 <div class='row'>
<div class='col-sm-12' id="siny-scools">

	<table class="table table-striped">
		<%@school.teams.each do |team|%>
		<th>Team</th>
		<th><b>Games</th>
		<tr>
			<td><%=link_to team.name, team %></td>
			<td><%team.games.sort_by(&:date).each do |game| %>
				<%=link_to game.date, game, :class => status(game.win?)%><br>
			<%end%>
			</td>
	</tr>
<%end%>
</table>

</section>
